.l-notification-bar{
	background: $danger;
	width:100%;
	color:white;
}

.l-logo-bar{
	padding: 50px 0;
}

.l-cart{
	padding: 6.5em 0;
}

.l-checkout{
	padding: 6.5em 0;
}

.l-calculation{
	margin: 1.2em 0;
}

.l-order{
	border-bottom: 1px solid whitesmoke;
	padding: 0 0 1.5em 0;
}

.l-delivery{
	padding: 0 0 1.5em 0;
}