// Owl caraousole override
.or-owl-nav {
    display: flex;
    justify-content: center;
    .owl-prev {
        border: 1px solid $primary;
        padding: 0 5px;
        margin-right: 5px;
        color: #666;
        i {
            font-size: 12px;
        }
    }
    .owl-prev:hover {
        background: $primary;
        color: #fff;
    }
    .owl-next {
        border: 1px solid $primary;
        padding: 0 5px;
        color: #666;
        i {
            font-size: 12px;
        }
    }
    .owl-next:hover {
        background: $primary;
        color: #fff;
    }
}


// Dropdown
// .dropdown:hover>.dropdown-menu {
//     display: block;
// }