.c-sidebar{

	> .c-sidebar__header{
		background: $primary;
		padding: 15px;

		> .c-sidebar__title{
			font-size: 20px;
			color: #fff;
		}
	}
	
	> .c-sidebar__body{
		max-height: 400px;
    	overflow: auto;
    	background-color: #f5f4f4;
    	padding: 8px 10px;
    	margin-bottom: 14px;
	}
}